#bg img {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

#fg {
    border-radius: 20px;
    margin: 1%;
    position: absolute;
    width: 98%;
    text-align: center;
    background: rgba(237, 160, 240, 0.3);
}