<div id="bg">
    <img src="../../../assets/contact-background.jpg" alt="">
</div>

<div id="fg" class="font-effect-outline">
    <h1 style="font-size:48px;">Kwiaciarnia "Aeris"</h1>
    <h2 style="font-size:32px;">Godziny otwarcia:</h2>
    <div style="font-size:24px;">Poniedziałek - Piątek</div>
        <br>
        <div style="font-size:20px;">8:00-18:00</div>
        <br><br>
        <div style="font-size:24px;">Sobota</div>
        <br>
        <div style="font-size:20px;">8:00-16:00</div>
    <p style="font-size:20px;">
        <br>
        Adres: Kielce, ul. Bohaterów Warszawy 11
        <br>
        Telefon: +48 987 654 321
        <br>
        E-mail: <a href="mailto:kwiaciarnia@aeris.pl">kwiaciarnia@aeris.pl</a>
    </p>

</div>