<mat-tab-group mat-align-tabs="center">
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">shopping_cart</mat-icon>
            Produkty
        </ng-template>
        <app-products-table></app-products-table>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">people</mat-icon>
            Użytkownicy
        </ng-template>
        <app-user-table></app-user-table>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">shopping_basket</mat-icon>
            Zamówienia
        </ng-template>
        <app-orders-table></app-orders-table>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">category</mat-icon>
            Kategorie
        </ng-template>
        <app-category-table></app-category-table>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">local_florist</mat-icon>
            Kwiaty
        </ng-template>
        <app-flower-table></app-flower-table>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">looks</mat-icon>
            Wstążki
        </ng-template>
        <app-ribbon-table></app-ribbon-table>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">card_giftcard</mat-icon>
            Kartki ozdobne
        </ng-template>
        <app-giftcard-table></app-giftcard-table>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">favorite</mat-icon>
            Podarunki
        </ng-template>
        <app-present-table></app-present-table>
    </mat-tab>
</mat-tab-group>