<div class="container">
    <form (ngSubmit)="onSubmit()" #amountForm="ngForm" class="fields">
        <mat-form-field class="field">
            <mat-label>Podaj długość wstążki:</mat-label>
            <mat-select required [(value)]="lengthNew">
                <mat-option value='krótka'>Krótka</mat-option>
                <mat-option value='średnia'>Średnia</mat-option>
                <mat-option value='długa'>Długa</mat-option>
            </mat-select>
        </mat-form-field>
        <p>Wybrany typ: {{lengthNew}}</p>
        <div mat-dialog-actions>
            <div><button mat-flat-button color="primary" type="submit" [disabled]="!amountForm.form.valid"
                    (click)="updateLength()">Ustaw</button></div>
        </div>
    </form>
</div>